html {
  font-size: 62.5%; // 1rem = 10px
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.4rem; // default Airbnb body size
  color: #222222;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
.container {
  max-width: 1440px;
}
h1 {
  font-size: 1.5rem;
  line-height: 1.1;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 999px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: transparent;
  cursor: pointer;
}
