.site-header {
  border-bottom: 1px solid #eee;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  // .top-nav {
  //   .logo {

  //   }
  //   .nav-links {
  //   }
  //   .nav-icons {
  //   }
  // }
  // .search-pill1 {
  // }
  // .search-pill2 {
  // }
}
